h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}


html {
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-style: normal;
    font-weight: 100%;
}


body {
/*    background: url("../img/background.jpg");*/
    background: url("../img/grid.png") repeat 0 0;
    /* background-color: white; */
    /* background-attachment:fixed;
    background-size: cover; */
}

#title {
    text-align: center;
}

#content
{
    position: absolute;
    right: 0;
    left: 0;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
}

#content #header
{
text-align: right;
}


#content #aboutme
{
    float: left;
    width: 50%;
    padding-right: 1em;
}

#content #photo
{
    margin-left: 22.5em;
    width: 50%;
    padding-left: 1em;
}

#content #projects
{
    float: left;
    width: 100%;
    padding-right 1em;
}

#content #projects #name
{
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;

}

#content #projects #description
{
    text-indent: 2em;

}

figcaption
{
    font-size: .9em;
    text-align: left;

}


/* Prevents bots from scraping my email! */

#email:before
{
    content: "maxgold4";
}

#email:after
{
    content: "@gmail.com";
}
